nav .icon{
    width: 30px;
}
.nav-item{
    padding:0px 7px ;
}
nav{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
}
.navbar {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(192, 192, 192,0.3);
}
.navbar-light .navbar-nav .nav-link{
    color:white;
    font-size: 14px;
    font-weight: 700;
}
.navbar-light .navbar-brand {
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.navbar-light .navbar-brand:hover {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #f25454;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #f25454;
}
.brnd i{
    color: white;
}
.brnd i:hover{
    color: #f25454;
}
 .changeDesignLeft{
    border: 1px solid #fff;
    opacity: 1;
    height: 50px;
    width: 50px;
    top: 50%;

 }
 .changeDesignRight{
    border: 1px solid #fff;
    opacity: 1;
    height: 50px;
    width: 50px;
    left: 0;
    top: 50%;
    margin-top: 50px;

 }
 .carousel-item img{
     width: 100%;
     height: 100%;
 }
 
.carousel-caption h1{
font-size: 70px;
font-weight: 700;


}
 
 .arrow:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 50px;
    z-index: 1;
    background-color: #fff;
    transition: width .3s;
}
.arrow:hover:before {
    width: 50px;
}
.arrow.left, .arrow.left:before {
    border-top-right-radius: 3px;
}
.scroll{ 
    width: 25px;
    height: 40px;
    border:1px solid white;
    border-radius: 15px;
    margin: auto;
    position: absolute;
    margin-top: 20px;
    bottom: 15px;
    left: 50%;
    transform: translatex(-50%);
}
.scroll::after{
   content: "";
   width: 9px;
   height: 9px;
   border-radius: 50%;
   position: absolute;
   background-color: white;
   bottom: 15px;
    transform: translatex(70%); 
   animation-name:move ;
   animation-duration: 1s;
   animation-iteration-count: infinite;
}
/* .scroll::after:hover{
    color: #f03a3a;
} */
@keyframes move{
     
     0%{
        bottom: 10px;
    } 
    30%{
        bottom: 20px;
    }
   50%{
       bottom: 30px;
       opacity: 0;
   }
}
.shadwo h2{
    font-size: 70px;
    font-weight:700;
    color: #e0dcdc;
    opacity: .5;
}
.shadwo{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}
.shad{
    z-index: 1;
    margin-top: 30px;
    position: relative;
}
.shad h2{
    font-size: 40px;
    font-weight:800;
    
}
.lin{
    width: 45px;
    border-bottom: 1px solid black;
    transition: width 0.5s;
}
.lin:hover{
    width: 80px;
    border-bottom: 1px solid black;
    
}
.progress-heading {
    overflow: hidden;
    margin-bottom: 5px;
}
.progress-heading .progress-title {
        float: left;
        margin: 0;
        padding: 0;
        color: #444;
        font-weight: 600;
        text-transform: none;
    }
.progress-heading .progress-value {
     text-align: right;
    font-weight: 500;
}      
 .progress {
     height: 4px;
     margin-bottom: 20px;
     background-color: #eee;
    border-radius: 2px;
    box-shadow: none;
}   
 .progress-bar{
 background-color: #f25454;
 }
.contant img{
    transition: 1s transform  ;
}      
.contant img:hover{
    transform: scale(1.2);
}
.contant{
    
}
.contant:hover h5{
    color: #f03a3a;
}
 .disapp{
     overflow: hidden;
     position: relative;
 } 
.lay{
    background-color: rgba(242, 84, 84, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s ;
}
.lay:hover{
    opacity: 1;
  
}
.lay i{
    margin: 8px;
    font-size: 18px;
    color: white;
} 
 .btn1{
    
    border: solid transparent;
    border-radius: 3px;
    background-color: #f03a3a;
   width: 140px;
   padding: 10px;
   color: white;
   font-size: 18px;
   font-weight: 500;
    
}  
.btn1:hover{
    opacity: 0.6;
}
.do{
    font-size: 33px;
    font-weight: 400;
}

.icon-line{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.icon-line i{
    color: #f25454;
    font-size: 20px;
}
.about-icon{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px;
}
.about-icon a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.5s;
}
.about-icon a:hover{
    color: #f25454;
}
.layout p{
    color: rgb(83, 84, 85);
    font-size: 15px;
}
.slid-parag {
    font-size: 17px;
}
.carousel-indicators{
    position: static;
}
 .discribe{
     font-size: 23px;
 }
 .carousel-indicators li {
  width: 100px;
  height: 100px;
  border-radius: 50%;
 } 
 
 .caption{
     display: flex;
     justify-content: center;
     
    
 }
 
  .img-1{
     background-image: url(images/client-1.png);
     background-position: center;
     background-size:cover ;
 } 
 .img-2{
    background-image: url(images/client-2.png);
    background-position: center;
    background-size:cover ;
}
.img-3{
    background-image: url(images/client-3.png);
    background-position: center;
    background-size:cover ;
}
.img-4{
    background-image: url(images/client-4.png);
    background-position: center;
    background-size:cover ;
}
.img-5{
    background-image: url(images/client-5.png);
    background-position: center;
    background-size:cover ;
}.img-6{
    background-image: url(images/client-6.png);
    background-position: center;
    background-size:cover ;
}.img-7{
    background-image: url(images/client-7.png);
    background-position: center;
    background-size:cover ;
}.img-8{
    background-image: url(images/client-8.png);
    background-position: center;
    background-size:cover ;
}
 
 .end-line
 {
     border-bottom: 1px solid rgba(212, 210, 210 ,0.5);
 }
 .end-parag{
    font-size: 17px;  
 }
 .map {
     display: flex;
     align-items: center;
    
 }
 .map i{
     font-size: 26px;
     color: #f25454;
 }
 .detail a{
     text-decoration: none;
     color: black;
     font-size: 19px;
     font-weight: 500;
 }
 .detail a:hover{
    color: #f25454;
 }
 .detail span a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
 }
.last{
    border: 1px solid rgba(212, 210, 210 ,0.5);
}
.last:hover{
    border: 1px solid rgba(223, 56, 56, 0.5);
}
.last-btn{
    background-color:#f03a3a;
    padding: 10px;
    width: 150px;
    border: transparent;
    border-radius: 3px;
    color: whitesmoke;
}
.last-btn:hover{
    opacity: 0.8;
}
 .foot {
    padding-bottom: 60px;
    position: relative;
    background: rgb(248, 242, 242);
    padding-top: 60px;
    background-image: url(../exam/images/dots.png.jpg);
    background-size: contain;
   
}
.foot-icon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:#f03a3a;
    opacity: 0.6;
     position: absolute;
    top: -20px;
    left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
   justify-content: center;
}
.foot-icon:hover{
    opacity: 1;
}
.chev{
    color: white;
}
.last-logo {
    width: 60px;
}
.cont-lst-logo{
display: flex;
align-items: center;
justify-content: center;
}
.bord{
    border: 1px solid rgb(185, 183, 183);
    margin: 3px;
    padding: 2px;
    border-radius: 3px;
}
.bord:hover{
    border: 1px solid #f25454;
}
.foot a ,.foot p{
    text-decoration: none;
    color: #b0b0b0;
    font-size: 14px;
    font-weight: 500;

}
.foot a:hover{
    color: #f25454;
}
.foot h4{
    color:white;
    font-size: 20px;
    font-weight:700;
    padding-bottom: 5px;

}
.end-footer{
    background-color: #1a1a1a;
}
.faa{
    color: white;
    margin: 10px;
}
.faa:hover{
    color:#f03a3a;
}
.cop{
    color: #b0b0b0;
    font-size: 15px;
    font-weight: 500;
  
}
.Agenda a{
   text-decoration: none;
   color:white;
   font-size: 16px;
   font-weight: 600;
}
.Agenda a:hover{
    color:#f03a3a;  
}